@model UserViewModel
@if (!User.IsInRole("User"))
{
    Layout = "Admin/_AdminLayout";
}
@if (ViewBag.Msg != null)
{
    <b>@ViewBag.Msg </b>
}
        <div class="wrapper">
                                <p class="text-center">Profile Update process</p>
                                <form action="/account/profileupdate" method="post">
                                    <input type="hidden" name="Id" value="@Model.Id"/>
                                    <input type="hidden" name="Password" value="NOTHING" />
                                    <div class="mb-3">
                                        <label for="txtUserName" class="form-label">User Name</label>
                                        <input type="text" name="UserName" value="@Model.UserName" class="form-control" id="txtUserName" aria-describedby="textHelp" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtEmail" class="form-label">Email Address</label>
                                        <input type="email" name="Email" value="@Model.Email" class="form-control" id="txtEmail" aria-describedby="emailHelp" required readonly>
                                        @Html.ValidationMessage("EmailExists", new { @class = "text-danger" })
                                    </div>                               
                                    <div class="mb-4">
                                        <label for="txtDOB" class="form-label">DOB</label>
                                        <input type="date" class="form-control" id="txtDate" name="DOB" value="@Model.DOB.ToString("yyyy-MM-dd")">
                                    </div>
                                    <div class="mb-4">
                                        <label for="txtConfirmPasswrod" class="form-label">Gender</label>
                                        <input type="radio" name="Gender" class="form-check" value="Female" id="rdoFemale" @(Model.Gender == "Female" ? "Checked" : "")>Female
                                        <input type="radio" name="Gender" class="form-check" value="Male" id="rdoMale" @(Model.Gender == "Male" ? "Checked" : "")>Male
                                        <input type="radio" name="Gender" class="form-check" value="Other" id="rdoMale" @(Model.Gender == "Other" ? "Checked" : "")>Other
                                    </div>
                                    <div class="mb-4">
                                        <label for="ddlCountry" class="form-label">Country</label>
                                        <select class="form-control" name="Country">
                                @foreach (CountryEntity country in @ViewBag.Countries)
                                {
                                    if (@country.Name == @Model.Country)
                                    {
                                        <option value="@country.Name" selected>@country.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@country.Name">@country.Name</option>
                                    }
                                }
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label for="txtAddress" class="form-label">Address</label>
                                        <textarea name="Address" cols="10" rows="5" class="form-control">@Model.Address</textarea>
                                    </div>
                                    <input type="submit" value="Update" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" />
                                    <input type="reset" value="Cancel" class="btn btn-secondary w-100 py-8 fs-4 mb-4 rounded-2" />   
                                </form>
                        </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rdoMale').click(function () {
                $("#rdoFemale").prop("checked", false);
                $("#rdoOther").prop("checked", false);
            });
            $('#rdoFemale').click(function () {
                $("#rdoMale").prop("checked", false);
                $("#rdoOther").prop("checked", false);
            });
            $('#rdoOther').click(function () {
                $("#rdoMale").prop("checked", false);
                $("#rdoFemale").prop("checked", false);
            });
        });
    </script>